<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CloudWhite.PersonalBlog.Dao.mybatisDao">
    <select id="getAllRecentMessagesForAllFriends" resultType="CachedMessage">
        SELECT
            LEAST(u1.user_id, u2.user_id) AS user_id,
            GREATEST(u1.user_id, u2.user_id) AS friend_id,
            m.message_id,
            m.sender_name,
            m.receiver_name,
            m.message,
            m.send_time
        FROM
            friendlist f
            JOIN user u1 ON f.user_id = u1.user_id
            JOIN user u2 ON f.friend_id = u2.user_id
            JOIN (
            SELECT
                sender_name,
                receiver_name,
                message_id,
                message,
                send_time
            FROM (
            SELECT *,
                ROW_NUMBER() OVER (
                PARTITION BY
            CASE
                WHEN sender_name &lt; receiver_name THEN CONCAT(sender_name, '_', receiver_name)
                ELSE CONCAT(receiver_name, '_', sender_name)
                END
            ORDER BY send_time DESC
            ) AS rn
            FROM message
                ) t
            WHERE rn &lt;= 10
                ) m
            ON (
                (m.sender_name = u1.username AND m.receiver_name = u2.username)
            OR
                (m.sender_name = u2.username AND m.receiver_name = u1.username)
                )
        WHERE u1.user_id &lt; u2.user_id
                           ORDER BY user_id, friend_id, send_time DESC;
    </select>
</mapper>