<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.WhiteCloud.PersonalBlog.Dao.userDaoMybatis">
    <update id="updateUserInfo" parameterType="userInfo">
        UPDATE userinfo SET nikename = #{nikename},sex = #{sex},phone=#{phone},email=#{email}
                        WHERE userId = #{userId}
    </update>
</mapper>