<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- id是bean的id class是实体类位置 实体类的名字和值 -->
    <bean id="person" class="com.CloudWhite.Entity.Person">
        <property name="name" value="张三"/>
        <property name="age" value="18"></property>
    </bean>
</beans>
